@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:link,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  outline: none;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  border: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
  display: block;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

pre {
  box-sizing: border-box;
  margin: 0;
}

#wrapper {
  min-height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: none;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.card {
  width: 400px;
  height: 306px;
  border-radius: 18px;
  background-color: rgb(14, 54, 114);
}

h1 {
  font-size: 120px;
  color: white;
  font-weight: 400;
  text-align: center;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.controls button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.controls button:nth-of-type(1) {
  width: 54px;
  height: 46px;
  border-radius: 8px;
  background-color: red;
  font-size: 32px;
  color: white;
  font-weight: 400;
  text-align: center;
}
.controls button:nth-of-type(2) {
  width: 54px;
  height: 46px;
  border-radius: 8px;
  background-color: black;
  font-size: 32px;
  color: white;
  font-weight: 400;
  text-align: center;
}
.controls button:nth-of-type(3) {
  width: 54px;
  height: 46px;
  border-radius: 8px;
  background-color: rgb(12, 161, 133);
  font-size: 32px;
  color: white;
  font-weight: 400;
  text-align: center;
}
.controls img {
  width: 34px;
  height: auto;
  border-radius: 0;
  background-color: transparent;
}