*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:link,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  outline: none;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  border: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
  display: block;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

pre {
  box-sizing: border-box;
  margin: 0;
}

#wrapper {
  min-height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: none;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #95c4d4;
  font-family: "Righteous", cursive;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  height: auto;
  border-radius: 20px;
  background-color: white;
  padding: 20px;
  max-width: 600px;
  border-width: 2px;
  border-style: dashed;
  border-color: red;
  border: solid 4px green;
}

h1 {
  font-size: 20px;
  color: black;
  font-weight: 400;
  text-align: center;
}

h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  color: rgb(46, 46, 46);
  font-weight: 400;
  text-align: center;
  font-style: italic;
}

span {
  font-size: 22px;
  font-weight: bold;
  color: #193cf7;
  text-align: center;
}

.time-stamp {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 88px;
}

img[alt=stamp] {
  align-self: flex-end;
}