@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
:root {
  --width: 100%;
  --max-width: 380px;
  --br: 8px;
  --image: 40px;
  --margin-top: 20px;
  --svg-size: 28px;
  --disbalance-color-red: red;
  --disbalance-color-green: green;
}

html[data-theme=light] {
  --black: black;
  --white: #f6f4eb;
  --blue: #749bc2;
}

html[data-theme=dark] {
  --black: #f6f4eb;
  --white: black;
  --blue: #2f4f6e;
}

body {
  min-height: 100vh;
  background-color: var(--white);
  font-family: "Poppins", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 50px 10px;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

svg {
  fill: var(--black);
  width: var(--svg-size);
  height: var(--svg-size);
}

button {
  width: auto;
  height: auto;
  border-radius: var(--br);
  background-color: var(--white);
  font-size: 16px;
  color: var(--black);
  font-weight: 700;
  text-align: center;
  padding: 8px 12px;
  text-transform: capitalize;
  cursor: pointer;
}

.overlay {
  width: 100%;
  height: 100%;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.789);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--width);
  height: auto;
  border-radius: 0;
  background-color: transparent;
  max-width: var(--max-width);
  gap: var(--margin-top);
}
.list .card {
  width: var(--width);
  height: auto;
  border-radius: var(--br);
  background-color: var(--blue);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.list .card img {
  width: var(--image);
  height: auto;
  border-radius: 50%;
  background-color: transparent;
  border: 4px var(--black) solid;
}
.list .card h1 {
  font-size: 18px;
  color: var(--black);
  font-weight: bold;
  text-align: left;
  text-transform: capitalize;
}
.list .card h2 {
  font-size: 12px;
  color: var(--black);
  font-weight: 400;
  text-align: left;
  text-transform: capitalize;
  background-color: var(--white);
  border-radius: var(--br);
  padding: 2px 4px;
}
.list .card .red {
  color: var(--disbalance-color-red);
}
.list .card .green {
  color: var(--disbalance-color-green);
}
.list > button {
  border: 3px solid var(--blue);
  width: var(--width);
}

/*---------------------------------------*/
.add {
  width: var(--width);
  height: auto;
  border-radius: var(--br);
  background-color: var(--blue);
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  row-gap: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
}
.add form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: var(--width);
  height: auto;
  border-radius: var(--br);
  background-color: transparent;
  padding: 12px;
  row-gap: 12px;
}
.add input {
  width: 150px;
  padding: 6px 10px;
  width: 150px;
  height: auto;
  border-radius: 4px;
  background-color: transparent;
  border: none;
  background-color: white;
  font-weight: 700;
}
.add .line {
  width: 100%;
  font-size: 18px;
  color: var(--black);
  font-weight: 400;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.add button {
  width: 100%;
}

/*---------------------------------------*/
.split {
  width: var(--width);
  height: auto;
  border-radius: var(--br);
  background-color: var(--blue);
  max-width: var(--max-width);
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 40px;
}
.split h1 {
  font-size: 26px;
  color: var(--black);
  font-weight: 700;
  text-align: left;
  text-transform: capitalize;
}
.split form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--width);
  height: auto;
  border-radius: var(--br);
  background-color: transparent;
  max-width: var(--max-width);
  row-gap: 12px;
}
.split input,
.split select {
  width: 150px;
  padding: 6px 10px;
  width: 110px;
  height: auto;
  border-radius: var(--br);
  background-color: white;
  border: none;
  text-align: center;
}
.split input[type=text] {
  background-color: white;
  font-weight: 700;
}
.split input[type=submit] {
  align-self: flex-end;
  width: 150px;
  height: auto;
  border-radius: var(--br);
  background-color: var(--white);
  font-size: 16px;
  color: var(--black);
  font-weight: 700;
  text-align: center;
  width: 100%;
}
.split .line {
  width: 100%;
  font-size: 18px;
  color: black;
  font-weight: 400;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.split label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-transform: capitalize;
  color: var(--black);
}