@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:link,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  outline: none;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  border: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
  display: block;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

pre {
  box-sizing: border-box;
  margin: 0;
}

#wrapper {
  min-height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: none;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background-color: #b8c6db;
  font-family: "Poppins", sans-serif;
  padding-top: 2px;
}

main {
  width: 90%;
  max-width: 640px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

video {
  max-width: 640px;
  width: 100%;
  height: auto;
  border-radius: 6px;
  background-color: transparent;
  border: 2px black solid;
}

#progress-line {
  height: 8px;
  max-width: 640px;
  background-color: red;
  border-radius: 6px;
}

#play-pause {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  background-color: rgb(253, 253, 253);
  border: 3px black solid;
  background-image: url("../img/play-regular-36.png");
  background-position: center center;
  transition: all 1s;
}