@import "root.css";
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:link,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  outline: none;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  border: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
  display: block;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

pre {
  box-sizing: border-box;
  margin: 0;
}

#wrapper {
  min-height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: none;
}

body {
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #caceb6;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 500px;
  border-radius: 12px;
  background-color: #283c69;
  -moz-column-gap: 10px;
       column-gap: 10px;
  max-width: 500px;
  padding: 20px;
}
@media only screen and (min-width: 480px) {
  main {
    padding: 55px;
  }
}

.digits {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  border-radius: 0;
  background-color: transparent;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

input {
  width: 20%;
  height: 80px;
  border-radius: 5px;
  background-color: #000d32;
  max-width: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px #000d32 solid;
  font-size: 56px;
  color: #e4e9fa;
  font-weight: bold;
  text-align: center;
  caret-color: transparent;
}
@media only screen and (min-width: 480px) {
  input {
    font-size: 70px;
  }
}

input ::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:valid {
  border: 2px #000d32 solid;
  background-color: transparent;
}

input:focus {
  border: 2px #b7b7bc solid;
}

button {
  width: 100%;
  height: auto;
  border-radius: 8px;
  background-color: transparent;
  font-size: 26px;
  color: white;
  font-weight: 700;
  text-align: center;
  border: none;
  padding: 6px;
  background: rgb(130, 160, 251);
  background: linear-gradient(90deg, rgb(130, 160, 251) 0%, rgb(173, 112, 251) 100%);
  transition: all 0.4s ease-in-out;
  opacity: 0.6;
}

.active {
  opacity: 1;
  background-color: #283c69;
}

p {
  font-size: 16px;
  color: #d1d1d1;
  font-weight: 400;
  text-align: left;
}

h1 {
  width: 100%;
  height: auto;
  border-radius: 0;
  background-color: transparent;
  font-size: 26px;
  color: white;
  font-weight: 700;
  text-align: left;
  text-align: center;
}
@media only screen and (min-width: 480px) {
  h1 {
    font-size: 46px;
  }
}