*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:link,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  outline: none;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  border: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
  display: block;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

pre {
  box-sizing: border-box;
  margin: 0;
}

#wrapper {
  min-height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: none;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
}

.progress-box {
  position: relative;
  width: 90%;
  height: 200px;
  border-radius: 8px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 620px;
  gap: 10px;
}
.progress-box .bar {
  width: 0px;
  height: 8px;
  border-radius: 10px;
  background-color: rgb(26, 60, 177);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  transition: all 0.4s ease-out;
}
.progress-box .circle {
  width: clamp(32px, 12vw, 94px);
  height: clamp(32px, 12vw, 94px);
  border-radius: 50%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 3px #8f5566 solid;
  font-size: clamp(12px, 5vw, 46px);
  color: black;
  font-weight: bold;
  text-align: center;
  transition: all 0.3s ease-out;
  flex-shrink: 0;
}
.progress-box .circle:nth-of-type(1) {
  border: 3px rgb(0, 0, 0) solid;
  width: clamp(32px, 12vw, 94px);
  height: clamp(32px, 12vw, 94px);
  border-radius: 50%;
  background-color: rgb(26, 60, 177);
  font-size: clamp(12px, 5vw, 46px);
  color: white;
  font-weight: bold;
  text-align: center;
}
.progress-box .circle.active {
  border: 3px rgb(0, 0, 0) solid;
  width: clamp(32px, 12vw, 94px);
  height: clamp(32px, 12vw, 94px);
  border-radius: 50%;
  background-color: rgb(26, 60, 177);
  font-size: clamp(12px, 5vw, 46px);
  color: white;
  font-weight: bold;
  text-align: center;
}

.progress-controls .btn {
  font-size: 24px;
  color: white;
  font-weight: 400;
  text-align: center;
  background-color: #383838;
  color: #fff;
  border: 0;
  border-radius: 6px;
  padding: 8px 30px;
  margin: 5px;
  cursor: no-drop;
  transition: all 0.3s ease-out;
}
.progress-controls .btn.active {
  background-color: rgb(26, 60, 177);
}
.progress-controls .btn.active:hover {
  cursor: pointer;
}