@font-face {
  font-family: "dot"; /* descriptor */
  src: url("../font/dot.ttf");
}
img {
  display: block;
  width: 140px;
  height: 140px;
}

.minarrow {
  position: absolute;
  left: 64px;
  top: 23px;
  box-sizing: content-box;
  width: 13px;
  height: 53px;
  transform-origin: 50% 88%;
  z-index: 48;
}
.minarrow img {
  display: inline-block;
  width: 13px;
  height: 53px;
}

.hrarrow {
  position: absolute;
  left: 66.5px;
  top: 41px;
  box-sizing: content-box;
  width: 9px;
  height: 34px;
  transform-origin: 50% 84%;
  z-index: 55;
}
.hrarrow img {
  display: inline-block;
  width: 9px;
  height: 34px;
}

.secarrow {
  position: absolute;
  left: 65px;
  top: 25px;
  box-sizing: content-box;
  width: 9px;
  height: 54px;
  transform-origin: 50% 82%;
  z-index: 46;
}
.secarrow img {
  display: inline-block;
  width: 9px;
  height: 54px;
}

main {
  position: relative;
  width: 144px;
  height: 185px;
  text-align: center;
}
main .clock {
  padding-bottom: 10px;
  width: 100%;
}
main .town {
  display: inline-block;
  width: 100%;
  background-color: black;
  height: auto;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  text-transform: uppercase;
  font-family: dot;
}