*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:link,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  outline: none;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
  display: block;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

pre {
  box-sizing: border-box;
  margin: 0;
}

#wrapper {
  min-height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: none;
}

body {
  min-height: 100vh;
  background-image: url(../img/back.jpg);
  background-color: black;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 390px;
  height: 560px;
  border-radius: 10px;
  background-color: honeydew;
  box-shadow: 6px 2px 12px rgb(56, 56, 56);
  padding: 36px;
}

.image {
  width: 180px;
  height: 138px;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 2px 2px 12px gray, -2px -2px 12px gray;
  background-image: url("../img/1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.8s ease;
}

.author {
  font-size: 26px;
  color: black;
  font-weight: 700;
  text-align: center;
}

.novel {
  font-size: 13px;
  color: #49a6ea;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.review {
  height: 264px;
  overflow: auto;
  transition: 0.8s ease;
  font-family: "ALK Life", sans-serif;
  font-weight: bolder;
  margin-top: 14px;
  white-space: pre-line;
}

.line {
  width: 100%;
  height: 5px;
  border-radius: 2px;
  background-color: #cfc009;
  transform-origin: left;
  animation: fill 3s linear infinite;
}

@keyframes fill {
  0% {
    transform: scaleX(0%);
  }
  100% {
    transform: scaleX(100%);
  }
}