@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
*,
::before,
::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:link,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  outline: none;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  border: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
  display: block;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

pre {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

#wrapper {
  min-height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 30px;
  background-color: #b8c6db;
  font-family: "Poppins", sans-serif;
  background-color: rgb(0, 0, 0);
  text-align: center;
  padding: 5%;
}
@media only screen and (min-width: 768px) {
  body {
    gap: 130px;
  }
}

fieldset {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
@media only screen and (min-width: 768px) {
  fieldset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

output {
  min-width: 2.5em;
}

label,
output {
  padding: 2px 9px;
  border-radius: 3px;
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 1.1em;
  width: 84px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

label {
  width: 90px;
}

output {
  width: 60px;
  -ms-flex-item-align: center;
      align-self: center;
}

label[for=r],
output[for=r] {
  background-color: #f00;
}

label[for=g],
output[for=g] {
  background-color: #0f0;
}

label[for=b],
output[for=b] {
  background-color: #00f;
}

#hex {
  min-width: 4.5em;
  font-size: 3em;
  background: rgba(255, 255, 255, 0.3);
}

input {
  width: 100%;
  height: 22px;
  border-radius: 6px;
  background-color: transparent;
  -webkit-appearance: none;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  margin-top: -12px;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
          box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

/* All the same stuff for Firefox */
/* All the same stuff for IE */
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10.4px;
  cursor: pointer;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}