*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:link,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  outline: none;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  border: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
  display: block;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

pre {
  box-sizing: border-box;
  margin: 0;
}

#wrapper {
  min-height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  padding-top: 50px;
  font-family: "Nunito", sans-serif;
}

.hidden {
  display: none;
}

:root {
  --bg-color: #fff;
  --text-color: black;
  --tr-hover-color: #5e7ebe;
  --th-bg-color: #f3c50d;
}

table {
  border-collapse: collapse;
  margin: 10px auto;
  font-size: 20px;
}

tr {
  border-left: rgba(173, 172, 172, 0.4) solid 2px;
  border-right: rgba(173, 172, 172, 0.4) solid 2px;
  border-bottom: rgba(173, 172, 172, 0.4) solid 2px;
  font-family: monospace;
  padding: 4px;
  background-color: var(--bg-color);
}

th {
  background-color: var(--th-bg-color) !important;
  border: white solid 2px;
  font-weight: bold;
  font-size: 26px;
  padding: 12px;
  text-align: center;
  color: var(--text-color);
}

td {
  padding: 6px;
  border-right: rgba(173, 172, 172, 0.4) solid 2px;
  color: var(--text-color);
}

tr:hover {
  background-color: var(--tr-hover-color);
  cursor: pointer;
}

button {
  width: auto;
  height: auto;
  border-radius: 8px;
  background-color: #1680db;
  padding: 4px 6px;
  font-size: 26px;
  color: white;
  font-weight: 400;
  text-align: center;
  transition: background-color 1s;
  border: none;
}

button:hover {
  background-color: #043a6a;
}