@font-face {
  font-family: "digital"; /* descriptor */
  src: url("../font/digital.otf");
}
@font-face {
  font-family: "dot"; /* descriptor */
  src: url("../font/dot.ttf");
}
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 280px;
  height: 280px;
}

.minarrow {
  position: absolute;
  left: 194px;
  top: 44px;
  box-sizing: content-box;
  width: 10px;
  height: 40px;
  transform-origin: 50% 88%;
  z-index: 48;
}

.minarrow img {
  display: inline-block;
  width: 10px;
  height: 40px;
}

.hrarrow {
  position: absolute;
  left: 195.5px;
  top: 59px;
  box-sizing: content-box;
  width: 7px;
  height: 24px;
  transform-origin: 50% 84%;
  z-index: 47;
}

.hrarrow img {
  display: inline-block;
  width: 7px;
  height: 24px;
}

.secarrow {
  position: absolute;
  left: 196px;
  top: 55px;
  box-sizing: content-box;
  width: 5px;
  height: 30px;
  transform-origin: 50% 82%;
  z-index: 46;
}

.secarrow img {
  display: inline-block;
  width: 5px;
  height: 30px;
}

.box {
  position: relative;
  width: 280px;
  height: 280px;
  margin: 30px auto;
  perspective: 2100px;
  /* transform: scale(0.3, 0.3); */
}

.clock {
  position: absolute;
  top: 0px;
  left: 0px;
}

.hour {
  text-align: left;
  position: absolute;
  font-family: digital;
  color: rgb(0, 0, 0);
  top: 166px;
  font-size: 45px;
  letter-spacing: 26px;
  left: 58px;
  letter-spacing: 4px;
}

.minute {
  text-align: left;
  position: absolute;
  font-family: digital;
  color: rgb(0, 0, 0);
  top: 166px;
  font-size: 45px;
  letter-spacing: 26px;
  left: 58px;
  letter-spacing: 4px;
  letter-spacing: 4px;
  font-weight: 500;
  left: 116px;
}

.second {
  text-align: left;
  position: absolute;
  font-family: digital;
  color: rgb(0, 0, 0);
  top: 180px;
  font-size: 27px;
  left: 165px;
  letter-spacing: 3px;
}

.weekday {
  text-align: left;
  position: absolute;
  font-family: digital;
  color: rgb(0, 0, 0);
  top: 38px;
  font-size: 19px;
  left: 85px;
  letter-spacing: 6px;
  transform: scale(0.6, 1);
}

.yearweek {
  text-align: right;
  width: 21px;
  position: absolute;
  font-family: digital;
  color: rgb(0, 0, 0);
  top: 60px;
  font-size: 17px;
  left: 59px;
  letter-spacing: 1px;
}

.yearday {
  text-align: left;
  width: 35px;
  position: absolute;
  font-family: digital;
  color: rgb(0, 0, 0);
  top: 101px;
  font-size: 22px;
  left: 100px;
  letter-spacing: 2px;
}

.monthday {
  text-align: right;
  width: 35px;
  position: absolute;
  font-family: digital;
  color: rgb(0, 0, 0);
  top: 103px;
  font-size: 26px;
  left: 50px;
  letter-spacing: 1px;
}

.month {
  color: rgb(0, 0, 0);
  text-align: center;
  width: 135px;
  position: absolute;
  font-family: dot;
  top: 82px;
  font-size: 13px;
  left: 30px;
  letter-spacing: 1px;
  transform: scale(0.8, 1);
  font-weight: bolder;
}

.textyearweek {
  color: rgb(0, 0, 0);
  text-align: center;
  width: 135px;
  position: absolute;
  font-family: dot;
  top: 65px;
  font-size: 9px;
  left: 42px;
  letter-spacing: 1px;
  transform: scale(0.8, 1);
  font-weight: bolder;
  letter-spacing: 0px;
}

.textyearday {
  color: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  text-align: center;
  width: 135px;
  position: absolute;
  font-family: dot;
  top: 122px;
  font-size: 10px;
  left: 63px;
  letter-spacing: 1px;
  transform: scale(0.8, 1);
  font-weight: bolder;
  letter-spacing: 1px;
}/*# sourceMappingURL=style.css.map */