*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:link,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  outline: none;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  border: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
  display: block;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

pre {
  box-sizing: border-box;
  margin: 0;
}

#wrapper {
  min-height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: none;
}

body {
  min-height: 100svh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #b8c6db;
}

main {
  width: 90%;
  height: auto;
  border-radius: 12px;
  background-color: #f9f3d9;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  padding: 14px;
  gap: 20px;
  box-shadow: 4px 4px 4px gray;
}

h1 {
  font-size: 26px;
  color: #151413;
  font-weight: 700;
  text-align: left;
  font-family: "Nunito", sans-serif;
}

img {
  width: 170px;
}

button {
  width: auto;
  height: auto;
  border-radius: 10px;
  background-color: #9c7248;
  font-size: 16px;
  color: white;
  font-weight: 400;
  text-align: center;
  border: 2px solid white;
  padding: 10px 20px;
  box-shadow: 4px 4px 4px gray;
  font-family: "Ubuntu Mono", monospace;
  cursor: pointer;
}
button:hover {
  background-color: #5e452c;
  transition: all 0.3s ease-in-out;
}
button:active {
  transform: translateY(2px);
  box-shadow: 2px 2px 4px gray;
}