*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:link,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  outline: none;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  border: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
  display: block;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

pre {
  box-sizing: border-box;
  margin: 0;
}

#wrapper {
  min-height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: none;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Nunito", sans-serif;
  padding: 0 6px;
}

.card {
  /* Basic button styles */
  /* Hover effect */
}
.card {
  width: 500px;
  height: auto;
  border-radius: 12px;
  background-color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  background: rgb(55, 105, 255);
  background: linear-gradient(150deg, rgb(55, 105, 255) 0%, rgb(2, 1, 4) 100%);
}
.card #password {
  width: 100%;
  height: auto;
  border-radius: 8px;
  background-color: transparent;
  font-size: 24px;
  color: rgb(255, 255, 255);
  font-weight: 400;
  text-align: left;
  padding: 10px;
  text-indent: 20px;
  border: 2px rgb(255, 255, 255) solid;
  outline: none;
}
.card #slider {
  width: 100%;
  height: 12px;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  -webkit-appearance: none;
}
.card #slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 22px;
  width: 22px;
  background: rgb(253, 1, 1);
  border-radius: 50%;
  border: 1px solid rgb(255, 255, 255);
  cursor: pointer;
}
.card .options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 16px;
  color: white;
  font-weight: bold;
  text-align: center;
  gap: 20px;
  align-self: stretch;
}
@media only screen and (min-width: 480px) {
  .card .options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.card .options .checkboxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.card #generate {
  width: 100%;
  height: auto;
  border-radius: 6px;
  background-color: #27a198;
  padding: 10px 20px;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.card #generate:hover {
  background-color: #1a6d67;
  color: #fff; /* Change text color on hover */
}

button {
  transition: all 0.6s ease;
}