*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100svh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: #b8c6db;
  padding: 15px;
}

table,
td {
  border: 2px solid white;
  border-collapse: collapse;
}

td {
  width: 30px;
  height: 30px;
}

main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  align-items: center;
  width: 375px;
  height: 420px;
  border-radius: 8px;
  background-color: blue;
  padding: 8px;
}
main .controls {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 0;
  background-color: transparent;
  gap: 30px;
}
main input {
  width: 46px;
  border-radius: 6px;
  background-color: white;
  font-size: 20px;
  color: black;
  font-weight: bold;
  text-align: center;
  text-indent: 5px;
}
main .table {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 0;
  background-color: transparent;
}