*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #b8c6db;
  min-height: 100svh;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  gap: 30px;
}

main {
  width: 100%;
  max-width: 456px;
  border-radius: 0;
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}
main div {
  width: auto;
  aspect-ratio: 1;
  color: white;
  font-size: clamp(5px, 20vw, 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
main div:nth-of-type(1) {
  border-right: 8px white solid;
  border-bottom: 8px white solid;
}
main div:nth-of-type(2) {
  border-right: 8px white solid;
  border-bottom: 8px white solid;
}
main div:nth-of-type(3) {
  border-bottom: 8px white solid;
}
main div:nth-of-type(4) {
  border-right: 8px white solid;
  border-bottom: 8px white solid;
}
main div:nth-of-type(5) {
  border-right: 8px white solid;
  border-bottom: 8px white solid;
}
main div:nth-of-type(6) {
  border-bottom: 8px white solid;
}
main div:nth-of-type(7) {
  border-right: 8px white solid;
}
main div:nth-of-type(8) {
  border-right: 8px white solid;
}

footer {
  font-size: 30px;
  text-align: center;
  color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
footer .score-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}