@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:link,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  outline: none;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
  display: block;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

pre {
  box-sizing: border-box;
  margin: 0;
}

#wrapper {
  min-height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: none;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #b8c6db;
  font-family: "Poppins", sans-serif;
}

.card {
  width: 600px;
  height: auto;
  border-radius: 12px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

section {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
  border-radius: 0;
  background-color: transparent;
}
section h1 {
  font-size: 20px;
  color: black;
  font-weight: 700;
  text-align: center;
  align-self: center;
  margin: 20px;
}
section li {
  margin: 10px;
}
section label {
  margin-left: 20px;
}

.submit {
  width: 100%;
  height: 70px;
  border-radius: 0;
  background-color: #8e44ad;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  font-size: 28px;
  color: #fff;
  font-weight: 400;
  text-align: center;
  border: none;
  cursor: pointer;
}

h1 {
  font-size: 20px;
  color: black;
  font-weight: 700;
  text-align: center;
  margin: 20px;
}