*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:link,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  outline: none;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  border: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
  display: block;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

pre {
  box-sizing: border-box;
  margin: 0;
}

#wrapper {
  min-height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: none;
}

:root {
  --gray: #b8c6db;
  --blue: #63a7fc;
  --dark-blue: #326eb7;
  --white: #fff;
}

body {
  min-height: 100svh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: var(--gray);
  font-family: "Nunito", sans-serif;
  padding: 10px;
}

main {
  width: 600px;
  height: auto;
  border-radius: 0;
  background-color: transparent;
  border-radius: 10px;
  overflow: hidden;
}

.authors-switch {
  width: 100%;
  height: auto;
  border-radius: 0;
  background-color: transparent;
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  align-items: stretch;
  transition: all 0.6s;
}
@media only screen and (min-width: 480px) {
  .authors-switch {
    flex-flow: row nowrap;
    align-items: center;
  }
}

.biography {
  width: 100%;
  height: auto;
  border-radius: 0;
  background-color: var(--white);
  text-align: left;
  padding: 10px;
  font-size: 1.2em;
  text-indent: 40px;
  min-height: 280px;
}

.clicked {
  background-color: var(--white);
}

.tab {
  width: auto;
  height: auto;
  border-radius: 0;
  background-color: var(--blue);
  font-size: 22px;
  color: black;
  font-weight: 400;
  text-align: center;
  padding: 10px;
  transition: all 0.8s ease;
  flex: auto;
  cursor: pointer;
}
.tab:hover {
  background-color: var(--dark-blue);
}