body {
  min-height: 100svh;
  background-color: #d5d9d8;
}

#root {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  font-family: "Nunito", sans-serif;
  padding: 20px;
  gap: 20px;
}

main {
  height: 100svh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

article {
  width: 260px;
  height: 440px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  position: relative;
  padding-bottom: 20px;
  border-radius: 12px;
  overflow: hidden;
  padding: 30px;
}
article .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: contrast(73%) grayscale(41%) blur(1px);
  border-radius: 0;
  background-color: transparent;
  -o-object-fit: cover;
  object-fit: cover;
}
article .info {
  z-index: 100;
}
article .info h1 {
  font-size: 28px;
  color: #bba45f;
  text-transform: capitalize;
  font-weight: 700;
  text-align: center;
}
article .info p {
  font-size: 16px;
  margin-top: 40px;
  color: #bba45f;
  text-transform: capitalize;
  font-weight: 500;
  text-align: center;
}
article .info h2 {
  font-size: 36px;
  color: #547957;
  text-transform: capitalize;
  font-weight: 700;
  text-align: center;
}

button {
  width: auto;
  height: auto;
  border-radius: 20px;
  background-color: rgb(205, 106, 49);
  padding: 10px;
  font-size: 16px;
  color: white;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
  display: block;
  z-index: 100;
}